<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gpx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geotagalog-GPX</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/gpx+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>GPS Exchange Format (GPX)</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nmea</string>
				<string>nme</string>
				<string>gps</string>
				<string>log</string>
				<string>txt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geotagalog-NMEA</string>
			<key>CFBundleTypeName</key>
			<string>NMEA 0183 Log</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tcx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geotagalog-TCX</string>
			<key>CFBundleTypeName</key>
			<string>Garmin Training Center</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>igc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Geotagalog-IGC</string>
			<key>CFBundleTypeName</key>
			<string>IGC Flight Recorder</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Geotagalog Help</string>
	<key>CFBundleIconFile</key>
	<string>Geotagalog</string>
	<key>CFBundleIdentifier</key>
	<string>com.calftrail.geotagalog</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0 beta 2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>450</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2008–2010 Calf Trail Software, LLC</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUFeedURL</key>
	<string>http://calftrail.com/appcasts/geotagalog.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GPS Exchange Format (GPX)</string>
			<key>UTTypeIdentifier</key>
			<string>com.topografix.gpx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.topografix.com/GPX/1/1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>gpx</string>
				<key>public.mime-type</key>
				<string>application/gpx+xml</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
